#mai {
    text-align: center;
}

body{
    background-color: rgb(6, 130, 247);
    color: black;
}
header{
    
    background-color: rgb(22, 124, 219);
    align-items: center;
    padding: 10px;
    height: 56px;
    display: flex;
}
main{
    background-color: rgb(6, 130, 247);
    
}
#about us{
    margin-top: 100px;
  padding: 300px;
}
footer{
    background-color: rgb(22, 124, 219);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 40px;
}
.link a.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffffff;
    color: rgb(1, 88, 250);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    margin: 0 30px;
}
#search {
    border-radius: 5px;
}
.sign {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color:rgb(108, 182, 252);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#search {
    height: 35px;
    border-color: #ffffff;
}
section{
    color: #ffffff;
}
#reserv{
    border-radius: 10px;
    text-align: center;
}
.list{
    list-style-type: none;
}
#message{
    padding: 10px;
}

    .boton {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .div {
        padding: 30px;
        border-radius: 10px;
        width: 300px;
        color: #ffffff;
    }
    
    
    .div label {
        display: block;
        color: white;
    }
    
    .div input,
    .div select,
    .div textarea {
        width: 100%;
        padding: 10px;
       
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    #home {
        text-decoration: none; 
        color: black; 
    }
    #home:hover {
        text-decoration: underline; 
        color: black; 
    }
